.jumbotron{
    background: black;
    color: wheat;
    padding-top: 3%;
    padding-bottom: 1px;

}

.bnt{
    background-size: cover;
}

.progress{
    height: 1.5rem;
    font-size: 1.2rem;

}

.nav-link{
    color: white;
}
.bg-color{
    background-color:rgb(148, 114, 52);

}
.bg-color2{
    
    background-color:rgb(112, 25, 25);
}
.img-tam{
    width: 100%;
    height: 180px;
}

.color-boton{
    background-color: rgba(25, 25, 230, 0.788);
}
.tam-carrusel{
    width: 100%;
    height: 400px;
}

.fondo-cuadros{
    background-color: rgba(25, 25, 230, 0.788);
    color: white;
    border-style: outset ;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.articulos-fondo{
    background-color:rgba(245, 222, 179, 0.795);
    color: black;

}
footer {
    padding: 5px 0 0px 10px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-auto{
    flex: 1 200px; 
    
    margin-top: 10px;
}

.btn-reserva{
    color:white;
    background-color: blue;
    border-radius: 0px;
    padding-top: 0%;
    height: 100%;
    width: 100%;
}


body{
    background-color: black;
}

