$azulBotones:  rgba(25, 25, 230, 0.788);
$marronTema: rgb(230, 211, 176);

@mixin  margenes ($top,$bottom){
    margin-top: $top;
    margin-boottom: $bottom;
}

body{
    background-color: black;
}
footer {
    padding: 5px 0 0px 10px;
    background-color: black;
    @include margenes(30px,0px );
}
.jumbotron{
    background: black;
    color: $marronTema;
    @include margenes(2%,1% );
}

.bnt{
    background-size: cover;
}

.progress{
    height: 1.5rem;
    font-size: 1.2rem;
}

.nav-link{
    color: white;
}

.bg-color{
    background-color:rgb(148, 114, 52);
}

.bg-color2{
    background-color:rgb(112, 25, 25);
}
.img-tam{
    width: 100%;
    height: 180px;
}

.color-boton{
    background-color: $azulBotones;
}
.tam-carrusel{
    width: 100%;
    height: 400px;
}

.fondo-cuadros{
    background-color:$azulBotones;
    color: white;
    border-style: outset ;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.articulos-fondo{
    background-color:$marronTema;
    color: black;

}


.card-auto{
    flex: 1 200px; 
    @include margenes(10px,0px );
}

.btn-reserva{
    color:white;
    background-color:$azulBotones;
    height: 100%;
    width: 100%;
}



