body {
  background-color: black; }

footer {
  padding: 5px 0 0px 10px;
  background-color: black;
  margin-top: 30px;
  margin-boottom: 0px; }

.jumbotron {
  background: black;
  color: #e6d3b0;
  margin-top: 2%;
  margin-boottom: 1%; }

.bnt {
  background-size: cover; }

.progress {
  height: 1.5rem;
  font-size: 1.2rem; }

.nav-link {
  color: white; }

.bg-color {
  background-color: #947234; }

.bg-color2 {
  background-color: #701919; }

.img-tam {
  width: 100%;
  height: 180px; }

.color-boton {
  background-color: rgba(25, 25, 230, 0.788); }

.tam-carrusel {
  width: 100%;
  height: 400px; }

.fondo-cuadros {
  background-color: rgba(25, 25, 230, 0.788);
  color: white;
  border-style: outset;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }

.articulos-fondo {
  background-color: #e6d3b0;
  color: black; }

.card-auto {
  flex: 1 200px;
  margin-top: 10px;
  margin-boottom: 0px; }

.btn-reserva {
  color: white;
  background-color: rgba(25, 25, 230, 0.788);
  height: 100%;
  width: 100%; }
